/* Reveal Animation */


.rv {


opacity:0;


transform:

translateY(20px);



animation:

reveal .6s forwards;


}



@keyframes reveal{


to{


opacity:1;


transform:

translateY(0);


}


}




/* Floating */

.float {


animation:

float 4s infinite ease-in-out;


}



@keyframes float{


50%{


transform:

translateY(-10px);


}


}




/* Loading */


.loader {


width:160px;


height:4px;



background:

rgba(255,255,255,.15);



border-radius:50px;



overflow:hidden;



margin:20px auto;


}



.loader span {


display:block;



height:100%;



width:30%;



background:

linear-gradient(

90deg,

var(--primary),

var(--secondary)

);



animation:

loading 1.2s infinite;


}




@keyframes loading{


from{

transform:

translateX(-100%);

}



to{

transform:

translateX(400%);

}



}
